body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

input[type="file"] {
    display: none;
}

input[type="text"] {
    font-size: 16px;
    padding: 10px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#response {
    font-size: 18px;
    margin-top: 40px;
}

#goToHomePage {
    position: absolute;
    top: 20px;
    right: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px; /* Add margin at the bottom */
}

.input-container {
    display: flex;
    justify-content: center;
}
